<center>
  <br><br>
  {{!-- <h1> {{ title }} </h1><br><br>
  <p> Welcome to {{title}} </p><br><br><br> --}}
  <h4> Welcome to Hyperledger Sawtooth Demo Application </h4><br><br><br>
  <img src="/images/logo.png">
</center>